.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: #000033;
    font-family: "Varela Round", sans-serif;

    position: fixed; 
    top: 0;         
    left: 0;
    width: 97%;    
    z-index: 1000;   
   
}

.navbar .name {
    color: #f2f2f2 !important;
    font-weight: 800;
  }
  
  
.navbar-left a {
    color: #8892b0;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-left a:hover {
    color: white;
}

.navbar-right a {
    color: #8892b0;
    margin-left: 15px;
}

.navbar-right a:hover {
    color: white;
}

.brand {
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
.navbar {
    flex-direction: column;
    align-items: flex-start;
}

.navbar-left, .navbar-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-left a, .navbar-right a {
    margin: 5px 0;
}
}
